{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>TreasureGram</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top text-center">
        <a href="/">
            <img src="{% static 'images/logo.png' %}" alt="TreasureGram" >
        </a>
    </nav>
    {% block content %}
    {% endblock %}

    <footer class="footer" role="contentinfo">
        <div class="container">
            <p class="text-muted">&copy; TreasureGram 2016</p>
        </div>
    </footer>
</body>
</html>