{% load staticfiles %}
<!DOCTYPE html> 
<html>
	<head> 
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
		<title>TreasureGram</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top text-center">
			<a href="/"> 
				<img src="{% static 'images/logo.png' %}" alt="TreasureGram" >
			</a>
		</nav>
		<main class="container" role="main">		
			<div class="treasure panel panel-default">	
				{% for treasure in treasures %}				
					<div class="panel-heading">
						<h2 class="panel-title">{{ treasure.name }}</h2>
					</div>
					<div class="panel-body" >
						{% if treasure.value > 0 %}
							{{ treasure.value }}
						{% else %}
							Unknown
						{% endif %}
					</div>
				
				{% endfor %}
			</div>
		</main>
	</body>
</html>
